/* Clase para NODOS de JavaFX */
.label{
    -fx-background-color: lightgreen;
}
.button {
    -fx-background-color: #FF7777;
    -fx-font-size: 14px;
}
.check-box {
    -fx-font-size: 12px;
    -fx-padding: 5;
    -fx-font-weight: bold;
    -fx-border-color: black;
}
/*---------------------------------------------------*/
/* SubClases */
.label-especial{ /* Para todos los label menos para provincia */
    -fx-background-color: darkgray;
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
    -fx-font-weight: bold;
}
.textfield-especial { /*Para nombre y apellido*/
    -fx-background-color: #f0f0f0;
    -fx-border-color: #CCCC00;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75), 10, 0, 0, 2);
}
/*---------------------------------------------------*/
/* Identificador para Email de JavaFX */
#label-personalizada {
    -fx-background-color: #ffffff;
    -fx-border-color: #999999;
}
/*---------------------------------------------------*/
/* Pseudoclases*/
.button:hover {
    -fx-background-color: lightblue;
}
.button:pressed {
    -fx-background-color: #0066cc; /*Azul oscuro*/
}






