/*futurista*/

.root {
    -fx-font-family: 'Roboto', sans-serif;
    -fx-background-color: #212121;
}

.label {
    -fx-font-size: 16px;
    -fx-text-fill: #bdbdbd;
}

.button {
    -fx-background-color: #0d47a1;
    -fx-text-fill: #ffffff;
}

.text-field, .combo-box, .check-box {
    -fx-border-color: #0d47a1;
    -fx-background-color: #424242;
    -fx-text-fill: #bdbdbd;
}
